<!DOCTYPE html>
<html>
<head>
  <title>About my project</title>
</head>
<body>

  <h1>StaticPages#about</h1>
  <p>Find me in app/views/static_pages/about.html.erb</p>

  <h1>Its my first project</h1>
  <p>This's small info about my project.</p>
  <p>If u want some info, visit the <a href="http://www.thinknetica.com" target="_blank" rel="nofollow noopener">Thinknetica website</a>.</p>
</body>
</html>