
<!DOCTYPE html>
<html>
  <head>
    <title>About author</title>
  </head>
  <body>

  <h1>About me - ruby developer</h1>
  <p>My name is Levon Badalov and I am a ruby developer.</p>
  <p>This's my <a href="https://github.com/teosevenses" rel="nofollow noopener" target="_blank">GitHub profile</a>.</p>
  </body>
</html>
   