<h1>StaticPages1#about_author</h1>
<p>Find me in app/views/static_pages1/about_author.html.erb</p>


<h1>About me - ruby developer</h1>
<p>My name is Levon Badalov and I am a ruby developer.</p>
<p>This;s me <a href="https://github.com/teosevenses">GitHub profile</a>.</p>
